img{
    width: 200px;
    height: auto;
}

button{
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    background-color: transparent;
    width: 220px;
    height: 300px;
    margin: 30px;
    transition-duration: .2s;
    cursor: pointer;
}

button:hover{
    background-color: cornsilk
}

#buttonContainer{
    display: flex;
    align-content: center;    
    justify-content: center;
}

body{
    background-color: coral;
    
}

#text{
    color: darkblue;
    font-size: 30px;
    padding-left: 200px;
    width: auto;
}

#finalWin{
    font-weight: bold;
}